#{set title:'Login' /}
 
#{form @login(), enctype:'application/www-url-encoded'}
<div>Login</div>
    name: <input type="text" name="name" />
    <input type="submit" value="Send it..." />
#{/}
<hr />
<div>Register</div>
#{form @register(), enctype:'application/www-url-encoded'}
    name: <input type="text" name="name" />
    age: <input type="text" name="age" />
    sex: <input type="text" name="sex" />
    area: <input type="text" name="area" />
    <input type="submit" value="Send it..." />
#{/}
<hr />
<div>Search</div>
#{form @search(), enctype:'application/www-url-encoded', method:'GET'}
    name: <input type="text" name="name" />
    age: <input type="text" name="age" />
    sex: <input type="text" name="sex" />
    area: <input type="text" name="area" />
    <input type="submit" value="Send it..." />
#{/}
